{% extends 'quotes/base.html' %}


{% block content %}
<div class="max-w-2xl mx-auto bg-white p-6 rounded shadow">
    <h2 class="text-xl font-bold mb-4 text-center">Случайная цитата</h2>


    {% if quote %}
    <div class="text-lg italic text-gray-800 mb-4">"{{ quote.text }}"</div>
    <div class="text-sm text-gray-600 mb-4">Источник: <span class="font-medium">{{ quote.source }}</span></div>


    <div class="flex gap-6 items-center justify-center" id="quote-info" data-quote-id="{{ quote.id }}">
        <form method="post" action="{% url 'vote' quote.id 'like'%}">
            {% csrf_token %}
            <button type="submit" class="text-green-600 hover:underline">👍 {{ quote.likes }}</button>
        </form>

        <form method="post" action="{% url 'vote' quote.id 'dislike'%}">
            {% csrf_token %}
            <button type="submit" class="text-red-500 hover:underline">👎 {{ quote.dislikes }}</button>
        </form>
        <span class="text-gray-500">👁️ {{ quote.views }}</span>
    </div>
    {% else %}
    <p class="text-gray-500 text-center">Цитаты пока не найдены.</p>
    {% endif %}
</div>
{% endblock %}
